html {
    -webkit-print-color-adjust: exact;
}
:root {
    /* background */
    --background-principal:  #061130;
    --background-btn:  linear-gradient(270deg, rgba(128, 54, 255, 0.94) 0%, #00EAF1 100%);

    /* form */
    --form-input-invalid: #ff5151;
    --form-input-focus: #007cff;
    --form-input-valid: #007cff;
    --form-input-placeholder:#a0aec0;
    --form-input-border:rgba(160,174,192,.537);
    --form-btn-submit:#007cff;
    --form-dashborad-input-border: #ffffff6a;

    /* menu */
    --menu-opcion-background-icon-container:#e1e5ef;
    --menu-opcion-subopcion:#a0aec0;
    --menu-opcion-subopcion-hover:#fff;
    --menu-opcion-subopcion-vineta:#0075FF;

    /* navbar */
    --navbar-letra-perfil:#d15e1f;

    /* botones */
    --botones-celeste: #007CFF;
    --botones-celeste-hover: #0368d4;
    --botones-outline_blanco:none;
    --botones-outline_blanco-hover:none;
}

html{
    font-size: 1rem;
}
*::-webkit-scrollbar
{
    width: 0.5rem;
    height: 0.5rem;
    background-color: #fff;
    border-radius: 1rem;
}
body{
    min-height: 100vh;
    background: var(--background-principal);
    font-family: "Poppins", sans-serif;
    font-style: normal;
}

*::-webkit-scrollbar-thumb
{
    border-radius: 1rem;
    background-color: var(--botones-celeste);
}

p{
    margin-bottom: 0;
    text-wrap: auto;
    line-height: 1.2;
}
a{
    text-decoration: none;
}

.btn{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    font-size: 0.8rem;
    padding: 0.5rem;
}
.btn:active,.btn:focus,.btn:focus-visible{
    border: 0;
    animation-duration: 0.6s;
    animation-name: clickin;
}

@keyframes clickin {
    0% {
        scale: 1;
    }
    50% {
        scale: 0.98;
    }
    100%{
        scale:1
    }
}

.titulo_principal{
    color: #fff;
    font-weight: 600;
    font-size: 3rem;
    text-align: center;
}
.parrafo_1{
    font-size: 2.25rem;
    color: #fff;
    font-weight: 400;
    line-height: 2.75rem;
    text-align: center;
    margin-top: 12rem;
}
.texto_degrade{
    background: linear-gradient(270deg, rgba(128, 54, 255, 0.94) 53.27%, #00EAF1 100%);
    -webkit-background-clip: text;
    color: transparent;  
}

.btn_degradado{
    border-radius: 0.75rem;
    padding: 0.5rem 1.25rem;
    background: var(--background-btn);
    color: #fff;
    font-size: 1.25rem;
}
.btn_degradado:hover, .btn_degradado:active, .btn_degradado:focus, .btn_degradado:focus-within, .btn_degradado:focus-visible{
    color: #fff!important;
}
#inicio.container-fluid{
    overflow: hidden;
    margin-top: 89.6px;
    aspect-ratio: 1;
    /* min-height: calc(100vh - 89.6px); */
    background-image: url('../img/background/background-estadio.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    position: relative;
}
#inicio .luz{
    position: absolute;
    width: 90rem;
    top: -250px;
}
#inicio .humo{
    position: absolute;
    bottom: 30%;
    z-index: 1;
}
#inicio .humo_derecha{
    right: 0;
}
#inicio .humo_izquierda{
    left: 0;
}
#inicio .luz_izquierda{
    translate: -39%;
    transform-origin: 34% 82%;
    animation: 3s linear 0s infinite luz_izquierda;
}
#inicio .luz_derecha{
    right: 0;
    translate: 35% -1%;
    transform-origin: 64% 81%;
    animation: 3s linear 0s infinite luz_derecha;
}
@keyframes luz_izquierda {
    0% {
        transform: rotate(369deg);
    }
    50%{
        transform: rotate(350deg);
    }
    100%{
        transform: rotate(369deg);
    }
}
@keyframes luz_derecha {
    0% {
        transform:rotate(8deg);
    }
    50%{
        transform:rotate(-8deg);
    }
    100%{
        transform:rotate(8deg);
    }
}
.container-fluid{
    width: 1320px;
    /* display: flex;
    justify-content: center; */
    /* align-items: center; */
}
.inicio_container{
    margin-top: 10rem;
    z-index: 1;
}

@media (min-width: 576px){

}
@media (min-width: 768px){

}
@media (min-width: 992px){

}
@media (min-width: 1200px){

}
@media (min-width: 1400px){

}
